.Projects-Browser {
    margin-top: 5%;
    width: 90%;
    height: 90%;
    margin-bottom: 5%;
    text-align: center;
    justify-content: space-between;
}

.Projects-Browser-Title {

}

.Projects-Browser-Description {

}

.Projects-Multiselect {

}

.Project-Component {
    margin-top: 50px;
    height: 800px;
}

.Project-Component-Small {
    margin-top: 50px;
    height: 300px;
}

.Date-And-Categories-Row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.Date {
    position: relative;
}

.Categories {
    position: relative;
}

.Projects-List {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.Media-Carousel {
    height: 500px;
    width: 100%;
}

.Media-Frame {
    width: 100%;
    height: 500px;
}

.Youtube-Frame {
    width: 70%;
}

.Project-Image {
    height: 100%;
    object-fit: contain;
}

.Project-Snack {
    height: 100%;
    width: 209px;
    border-color: transparent;
}

.Project-Links {
    width: 100%;
    height: 60px;
}

.Project-Link {

}

.MuiDivider-root {

}