.Projects-Browser {
    width: 80%;
    text-align: center;
}

.Projects-Browser-Title {

}

.Projects-Browser-Description {

}

.Projects-Multiselect {

}

.Project-Component {

}

.Stat-Section-Data-Row {
    display: inline-flex;
    justify-content: space-between;
}

.Stat-Data-Key {
    position: relative;
}

.Stat-Data-Value {
    position: relative;
}

.Stat-Data-Value-Array {
    margin: auto;
}

.Projects-List {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: absolute;
    height: calc(100% - 100px);
    width: 100%;
}