.Stat-Section-Container {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.Stat-Section-Title {

}

.Stat-Section-Data-Container {
    display: grid;
    margin-bottom: 50px;
}

.Stat-Section-Data-Row {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    align-self: center;
    justify-self: center;
}

.Stat-Data-Key {
    position: relative;
    width: 50%;
    text-align: start;
}

.Stat-Data-Value {
    position: relative;
    width: 50%;
    text-align: end;
}

.Stat-Data-Value-Array {
    margin: auto;
}

.Stat-Sections {
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: absolute;
    height: calc(100% - 0px);
    width: 100%;
    overflow-y: auto;
}

.Stat-Section-Data-Row-Bullet {
    justify-self: start;
    text-align: left;
}

.Stat-Section-Data-Value-Bullet {
    text-align: left;
    width: 50%;
}

.Stat-Data-Value-Bullet {

}

.Divider-Between-Sections {
    background-color: white;
    height: 1px;
    width: 90%;
    margin-left: 5%;
}