.App {
  text-align: center;
}

.Background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.App-carousel {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header-Bar {
  width: 100%;
  height: 50px;
  align-content: center;
  align-items: center;
}

.Header-Button-Group-FlexView {
  height: 100%;
}

.Header-Button-Group {
  flex: 1;
  text-align: center;
  vertical-align: middle;
}

.Header-Button {
  text-align: center;
  vertical-align: middle;
  border-color: #282c34;
  border-width: 5px;
  border-radius: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bioText {
  width: 80%;
}